<div class="row-nokol" *ngIf="work">
  <div class="col-nokol">


    <div class="tab-nokol" style="">
      <button class="tablinks-nokol" style="color: white;" [style.background]="tabpanelIndex=='html' ? '#2f86e0':'grey'" (click)="switchTab('html')">Html</button>
      <button class="tablinks-nokol" style="color: white;" [style.background]="tabpanelIndex=='js' ? '#e0ba2f':'grey'" (click)="switchTab('js')">Javascript</button>
      <button class="tablinks-nokol" style="color: white;" [style.background]="tabpanelIndex=='css' ? '#2fe0a7':'grey'" (click)="switchTab('css')">Css</button>
    </div>

    <div class="tab-content-nokol card-nokol" *ngIf="work.code">
      <div [hidden]="tabpanelIndex!='html'" class="tabcontent-nokol fade in show active">
        <textarea appCodemirror [codeMode]=" 'xml' " [theme]="'material'" [htmlMode]="true" class="area-html" [(ngModel)]="work.code.html"></textarea>
      </div>

      <div [hidden]="tabpanelIndex!='js'" class="tabcontent-nokol fade">
        <textarea appCodemirror [theme]="'material'" [(ngModel)]="work.code.js" (ngModelChange)="updatejs($event)"></textarea>
      </div>

      <div [hidden]="tabpanelIndex!='css'" class="tabcontent-nokol fade">
        <textarea appCodemirror [codeMode]=" 'css' " [theme]="'material'" [(ngModel)]="work.code.css" (ngModelChange)="updateCss($event)" ></textarea>
      </div>
    </div>

  </div>
  <div class="col-nokol">

    <div class="tab-nokol">
      <button class="tablinks-nokol">Live preview</button>
      <button class="btn-nokol btn-success-nokol" style="float:right;background: #08e66b;" (click)="createWork()">Save work</button>
      <div style="">
        <input type="text" class="input-nokol form-control-nokol" placeholder="Keywords" [(ngModel)]="work.tags">
      </div>
    </div>
    <div class="card-nokol">
      <div class="card-body-nokol">
        <div [innerHtml]="work.code.html | sanitizeHtml">
        </div>

      </div>

    </div>

  </div>
</div>
