.nav-nokol {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
  background: #0895ca;
  left: 0px;
}

.authorbadge-nokol {
  color: white;
  position: fixed;
  right: 0px;
  padding: 5px;
  background: white;
  bottom: 17px;
  background: #ff9e0d;
  font-size: 11px;
}


.table-nokol td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}


.icon-nokol {
  position: fixed;
  left: 0px;
  bottom: 44px;
  width: 64px;
  height: 40px;
}
